#photo
{
	margin: 1rem;
}

.header
{
 background-color: #ffd1dc;
 color: black;
}

.header-nav
{
	background-color: #ffd1dc;
}

.mycolour{
	background-color: #ffd1dc;
}

.btn.outline {
	background: none;
	padding: 12px 22px;
	border: none;
}

.btn-primary.outline {
	color:#000080;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary 
{
	color: white;
	border-color: white;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: grey;
	color: grey;
	box-shadow: none;
}

.mylink:hover
{
	color: white;
	text-decoration: none;
}

.mylink:active
{
	color: violet;
	text-decoration: none;
}

.mylink
{
	color:#000080;
}
